
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title{
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

main{
    font-size: 1rem;
}

.container{
    margin: 0 14rem;
}